<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059808914702-vhlgl0c26eentmh6sbo5g8vplk9lcl0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059808914702-vhlgl0c26eentmh6sbo5g8vplk9lcl0t</string>
	<key>API_KEY</key>
	<string>AIzaSyCGpnYnBGBIdru4eIP1QnDa9IjrEMrmTWI</string>
	<key>GCM_SENDER_ID</key>
	<string>1059808914702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shitagami1101.bleBeaconApp</string>
	<key>PROJECT_ID</key>
	<string>byle-beacon-app</string>
	<key>STORAGE_BUCKET</key>
	<string>byle-beacon-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059808914702:ios:176cc030bbe6333779bb5f</string>
</dict>
</plist>